
<form [formGroup]="myForm" (ngSubmit)="onSignUp">

  <div class="text-4xl py-3">
    <p class="py-2">
      Sign up
    </p>
    <hr>
  </div>

    <div class="py-4">
      <label for="exampleInputEmail1" class="form-label">Email address</label>
      <input 
        type="email" 
        class="form-control w-full text-sm text-gray-800 
        bg-white border border-grey-200"  
        id="exampleInputEmail1" 
        required
        name="email" 
        formControlName="email">

      <div *ngIf="myForm.get('mail')?.errors?.['required']" class="form-text">
        Email is required
      </div>
    </div>

    <div class="py-0">
      <label for="exampleInputPassword1" class="form-label">Password</label>
      <input 
        type="password" 
        class="form-control w-full text-sm text-gray-800 
        bg-white border border-grey-200"  
        id="exampleInputPassword1" 
        required 
        minlength="8" 
        name="password" 
        formControlName="password">

      <div *ngIf="myForm.get('pass')?.errors?.['required']" [ngClass]="'error'" class="form-text">
        Password is required
      </div>
      <div *ngIf="myForm.get('pass')?.errors?.['minlength']">
        Password must be at least 8 characters long
      </div>
    </div>
    
    <div class="py-3 form-check">
      <input type="checkbox" class="form-check-input appearance-none checked:bg-blue-500" id="exampleCheck1">
      <label class="form-check-label" for="exampleCheck1">I accept the <u>
        <a class="text-blue-500" href="#">user policy</a>
      </u></label>
    </div>
    
    <div class="py-4">
      <button type="submit" class="inline-flex items-center text-sm font-medium text-center text-white
      bg-green-600 hover:bg-green-700 rounded-xl px-4 py-2" 
      (click)="onSignUp()">Sign up!</button>  
    </div>
    
    <div class="form-text">Already have an account? <u>
      <a class="text-blue-400" href="/login">Log In</a>
    </u> instead!</div>

</form>
