<div class="row">
    <div class="col-xs-12">
        <h3> New Post </h3>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <form class="form-inline">
            <input type="text" class="form-control input-lg" placeholder="Post title" #title>
            <br>
            <input type="text" class="form-control input-lg" placeholder="Your post content goes here." #content>
            <br>
            <button class="btn btn-success" (click)="onNewPost(title.value, content.value)">
                Post
            </button>
        </form>

    </div>
</div>

<!-- <div class="row">
    <div class="col-xs-12">
        <label>Post Date</label>
        <input type="date" #date>
    </div>
</div> -->
