
<div class="relative flex min-h-screen flex-col justify-center overflow-hidden bg-gray-50 py-6 sm:py-12" *ngFor="let user_post of user_posts">
  <div class="relative bg-white px-6 pt-10 pb-8 shadow-xl ring-1 ring-gray-900/5 sm:mx-auto sm:max-w-lg sm:rounded-lg sm:px-10">
    <div class="mx-auto max-w-md">
      <p class="text-2xl">fdsag</p>
      <div class="divide-y divide-gray-300/50">
        <div class="space-y-6 py-8 text-base leading-7 text-gray-600">
          <p>{{ user_post['content'] }}</p>
          <ul class="space-y-4">
          </ul>
        </div>
        <div class="pt-8 text-base font-semibold leading-7">
          <p class="text-gray-900">{{ user_post['author'] }}</p>
          <p class="text-gray-900">{{ user_post['date'] }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
